// ======================================
//  Flexbox Settings
// ======================================

@mixin flexbox (
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null,
    $align: null,) {
        display: $disp;
        flex-direction: $dir;
        flex-wrap: $wrap;
        justify-content: $just;
        align-items: $align;
        @content;
    }


// ======================================
//  Grid Settings
// ======================================

@mixin grid (
    $disp: grid,
    $gap: null,
    $temp-col: null,
    $temp-row: null) {
        display: $disp;
        grid-gap: $gap;
        grid-template-columns: $temp-col;
        grid-template-row: $temp-row; 
        @content; 
    }
    

// ======================================
//  Dimension
// ======================================

@mixin dim(
    $w: null,
    $h: null,
    $max-w: null,
    $max-h: null) {
        width: $w;
        height: $h;
        max-width: $max-w;
        max-height: $max-h;
        @content; 
    }


// ======================================
//  Media Queries
// ======================================

@mixin mq($break) {
    @if $break == 'small' {
        @media (min-width: $break-s) and (max-width: $break-m) {
            @content;
        }
    }
    @else if $break == 'medium' {
        @media (min-width: $break-m + 1) {
            @content;
        }
    }
    @else if $break == 'large' {
        @media (min-width: $break-l) {
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for #{$break}";
    }
}


// ======================================
//  Absolute Position Property
// ======================================

@mixin apos(
    $pos: absolute,
    $top: null,
    $right: null,
    $bottom: null,
    $left: null) {
        position: $pos;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        @content;
    }

// ======================================
//  Relative Position Property
// ======================================

@mixin rpos(
    $pos: relative,
    $top: null,
    $right: null,
    $bottom: null,
    $left: null) {
        position: $pos;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        @content;
    }
