// =======================================
//   Variables
// =======================================

// Fonts
$font-url               : 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900';
$font-stack             : 'Roboto', sans-serif;

// Font Weights
$font-weight--thin      : 100;
$font-weight--light     : 300;
$font-weight--medium    : 500;
$font-weight--bold      : 600;
$font-weight--ultra     : 900;

// Descriptive Base Colors 
$white          : #fff;
$light-black    : rgba(0, 0, 0, .5);
$black          : #0b0b0b;
$grey           : #9e9e9e;
$blue           : #4682B4;
$emerald        : #79EBD1;
$orange         : #e54d26;
$purple         : #563d7c;
$sky-blue       : #55acee;
$green          : #B2D57C;
$red            : #ff005b;
$pink           : #CD6799;
$yellow         : #F7DF1D;

$soft-red       : #D68C8B;

$light-red      : #E8A0A0;
$light-orange   : #ff4800;
$light-blue     : #44AAC0;
$light-purple   : #DCB3EE;
$light-grey     : #bbbbbb;
$light-mulberry : #E1B1EF;
$light-yellow   : #FFF8DC;
$light-green    : #33cc33;

$dark-blue      : #3b5998;
$dark-purple    : #070930;
$dark-grey      : #888888;
$sea-green      : #20B2AA;
$floral-white   : #eae9e1;
$white-smoke    : #F0F0F0;
$strong-blue    : #007bb5;

$cherry         : #EB2188;

// Text
$base__font-size   : 40px;
$base__line        : 24px;
$letter-space      : 5px;

// Border Radius
$br--default       : 5px;
$br--round         : 50%;

// Transitions
$trns-duration     : .5s;

// Layout
$max-width: 1050px;
$gutter: 10px;

// Breakpoints
$break-s: 1px;
$break-m: 768px;
$break-l: 1024px;